# fly.toml app configuration file generated for full-stack-open-pokedex-dark-mountain-6369 on 2025-11-06T18:33:10+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'full-stack-open-pokedex-dark-mountain-6369'
primary_region = 'arn'

[build]

[env]
  PORT = "3000" # add this

[processes]
  app = "node app.js" # add this

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"

  [deploy]
  strategy = "rolling"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
