name: Periodic health check

on:
  schedule: 
    - cron: "0 0 * * *"


jobs:
  url_health_check:
      runs-on: ubuntu-latest
      steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v4
        with:
          url: https://full-stack-open-pokedex-dark-mountain-6369.fly.dev/
          follow-redirect: false 
          max-attempts: 3 
          retry-delay: 5s 
          retry-all: false